{extend name="layout"}

{block name="page_title"}
个人认证
{/block}
{block name="page_css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/oss-h5-upload-js-php/style.css"/>
<style type="text/css">
	.weui-photo-browser-modal{
		z-index: 99999999999999;
	}
	#cwby .cwby-1 li.sfz{
		padding:70px 50px;
	}
</style>
{/block}
{block name="content"}

<div id="cwby">
    <div class="cwby-1">
        <form action="" name="ff1" method="post" id="form">
            <ul>
                <li class="tt1"><b>姓名</b><p><input name="sjh" type="text" class="txt1" value="{$userInfo.real_name}" placeholder="请输入"></p></li>
                <li class="tt1"><b>身份证号</b><p><input name="id_card_num" id="id_card_num" type="text" class="txt1" value="{$userInfo.id_card_num}" placeholder="请输入"></p></li>

                <li class="tt1"><b>性别</b>
                    <p>
                        <select name="sex" class="select1">
                            <option value="1" {if condition = "$userInfo.sex eq 1"} selected {/if}>男</option>
                            <option value="2" {if condition = "$userInfo.sex eq 2"} selected {/if}>女</option>
                        </select>
                    </p></li>
            </ul>
            <ul>
                <!--<h4>您所选择的文件列表：</h4>-->
                <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>

                <br/>
                <div id="containers1">
                    <!--<a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>-->
                </div>

                <pre id="console"></pre>
                <div id="containers">
                    <li class="sfz">
                   		<div style="text-align: center;">
							<a id="selectfiles" style="font-size: 35px;" class="but_up" href="javascript:void(0);">上传身份证正面</a>		
                        </div>
                        <p id="selectfiles_preview" class="bg1" {if condition="($userInfo.sfz_font_img)"} value="{$userInfo.sfz_font_img}" style="background: url({$userInfo.sfz_font_img}) no-repeat center;background-size: cover;"{/if}>
                       <!-- <input id="uploadFile" type="file" name="sfz_font_img" value="" accept="image/jpeg,image/jpg,image/png">-->
                        <!--<em>上传身份证正面</em>-->
                       		<br/>
                            <a class="list_a" style="display: block;width: 100%;height:100%;position: absolute;left:0;top:0;" id="selectfiles_info"></a>
                        </p>
                    </li>
                    <li class="sfz">
                    	<div style="text-align: center;">
							<a id="selectfiles1" style="font-size: 35px;" class="but_up"   href="javascript:void(0);">上传身份证反面</a>	
                        </div>
                        <p id="selectfiles1_preview" class="bg2" {if condition="($userInfo.sfz_font_img)"} value="{$userInfo.sfz_back_img}" style="background: url({$userInfo.sfz_back_img}) no-repeat center;background-size: cover;"{/if}>
                        <!-- <input id="uploadFile" type="file" name="sfz_font_img" value="" accept="image/jpeg,image/jpg,image/png">-->
                        <!--<em>上传身份证正面</em>-->
                        <br/>
                        <a class="list_a" style="display: block;width: 100%;height:100%;position: absolute;left:0;top:0;" id="selectfiles1_info"></a>
                        </p>

                    </li>
                    <li class="sfz">
                    	<div style="text-align: center;">
							<a id="selectfiles2" style="font-size: 35px;"  class="but_up"  href="javascript:void(0);">上传手持身份证正面</a>
                        </div>
                        <p id="selectfiles2_preview" class="bg3" {if condition="($userInfo.sfz_font_img)"} value="{$userInfo.sfz_hand_img}" style="background: url({$userInfo.sfz_hand_img}) no-repeat center;background-size: cover;"{/if}>
                        <!-- <input id="uploadFile" type="file" name="sfz_font_img" value="" accept="image/jpeg,image/jpg,image/png">-->
                        <!--<em>上传身份证正面</em>-->
                        <br/>
                        <a class="list_a" style="display: block;width: 100%;height:100%;position: absolute;left:0;top:0;" id="selectfiles2_info"></a>
                        </p>
                    </li>
                    <a id="selectfiles_postfiles" style="display: none" href="javascript:void(0);">开始上传</a>
                    <a id="selectfiles1_postfiles" style="display: none" href="javascript:void(0);">开始上传</a>
                    <a id="selectfiles2_postfiles" style="display: none" href="javascript:void(0);">开始上传</a>
                </div>
                <br/>
            </ul>
            <ul>
                <!-- {if condition="$userInfo.status eq 3"}disabled value="认证中"{elseif condition="$userInfo.status eq 2"/}value="重新提交认证"{else/}value="认证成功"{/if} -->
                <!--<li class="tt3"><input id="uploadFile_bt" name="tj" class="tj" value="提交认证" type="button" ></li>-->
                <!--<li class="tt3"><input id="uploadFile_bt" name="tj" class="tj" type="button" {if condition="$userInfo.status eq 3"}disabled value="认证中"{elseif condition="$userInfo.status eq 2"/}value="重新提交认证"{else/}value="认证成功"{/if}></li>-->
                {if condition="$userInfo.status eq 3"}
                <a href="javascript:void(0);" style="margin: 0 auto;margin-top: 20px;display: block;width:300px;height:90px;line-height: 90px;font-size: 30px;border-radius: 45px;background: url(__HOME_CSS__/wapcssjsimg/images/c-sp.jpg) no-repeat center;background-size:100% auto;">审核中</a>
                {elseif condition="$userInfo.status eq 1"/}
                <a  href="javascript:void(0);" style="margin: 0 auto;margin-top: 20px;display: block;width:300px;height:90px;line-height: 90px;font-size: 30px;border-radius: 45px;background: url(__HOME_CSS__/wapcssjsimg/images/c-sp.jpg) no-repeat center;background-size:100% auto;">认证成功</a>
                {else/}
                <a id="postfiles" href="javascript:void(0);" style="margin: 0 auto;margin-top: 20px;display: block;width:300px;height:90px;line-height: 90px;font-size: 30px;border-radius: 45px;background: url(__HOME_CSS__/wapcssjsimg/images/c-sp.jpg) no-repeat center;background-size:100% auto;">开始上传</a>
                {/if}
            </ul>
        </form>
    </div>


</div>

<!--<div class="box_2" style="width:100%;position:fixed;bottom:300px;left:0;z-index:9999999999999999;background:white;color:black;"></div>-->

{/block}
{block name="page_js"}
<script type="text/javascript" src="__STATIC__/oss-h5-upload-js-php/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="__STATIC__/oss-h5-upload-js-php/upload.js"></script>
<script>

    var uid = '{$uid}'
    //获取图片地址

    var initIndex = 0;//定义默认初始化图片索引
    var pictrue_src = []; //定义获取所有图片src数组



        /*for(var x=0;x<$('.bg1').length;x++){
            pictrue_src[x]=$('.bg1').eq(x).css('backgroundImage').replace('url(','').replace(')','');  //pc端调试要多去掉双引号"";
        }*/
        //alert(pictrue_src[0])
        $('.bg1').click(function(){
            for(var x=0;x<$('.bg1').length;x++){
                //pictrue_src[x]=$('.bg1').eq(x).css('backgroundImage').replace('url(','').replace(')','');  //pc端调试要多去掉双引号"";
                pictrue_src[x]=$('.bg1').eq(x).attr('value');  //pc端调试要多去掉双引号"";
            }
            initIndex = $(".bg1").index($(this));  //点击选择初始化图片
            var pb2 = $.photoBrowser({
                items: pictrue_src
                ,
                initIndex:initIndex});
            pb2.open();
            //图片居中
            $('.photo-container').find('img').css('margin','auto')
        })


    $('#postfiles').click(function(){
        empty_check(all_file);//检测是否选完图片
        if(empty_check(all_file) || all_file.length<3){
            layer.msg('请将照片信息添加完整');
            return false;
        }
        if($('#id_card_num').val() ===''){
            alert('请填写身份证号码');
            return false;
        }
        $('#selectfiles_postfiles').click();
        $('#selectfiles1_postfiles').click();
        $('#selectfiles2_postfiles').click();
    })

</script>


{/block}

