
{layout name="layout"/}

{extend name="layout"}
{block name="page_css"}
<!--layer组件css-->
<link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
<!-- 引入jquery weui-->
<link rel="stylesheet" href="__STATIC__/jquery-weui/lib/weui.min.css">

<link rel="stylesheet" href="__STATIC__/jquery-weui/css/jquery-weui.min.css">
<link rel="stylesheet" href="__STATIC__/mui/mui.min.css">
{/block}
{block name="content"}
<style type="text/css">
	.tck_content_cent>.btn_box {
	    width: 88%;
	    height: 60px;
	    display: block;
	    margin: 20px auto;
	    border: 1px solid #333;
	    position: relative;
	}
	.btn_box input{
		width: 100%;
	    height: 100%;
	    display: block;
	    font-size: 26px;
	    text-indent: 10px;
	    position: absolute;
	    left: 0;
	    top:0;
	    border: none;
	}
	.get_btn {
	    position: absolute;
	    right: 0;
	    top: 0;
	    z-index: 99999;
	    height: 100%;
	    width: 180px;
	    border: none;
	    font-size: 21px;
	    color: #6d6d6d;
	}
	.get_btn button{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
	    left: 0;
	    top: 0;
	}
    .clearfix:after{
        content: '';
        display:block;
        height:0;
        clear: both;
        visibility: hidden;
    }
    @keyframes abc {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(360deg)}
    }
    #list-index .list-index-lis{
    	padding:0;
    }
    .btn_quick{
    	animation: vip 3s infinite linear;
    }
    @keyframes vip {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(360deg)}
    }
</style>

<div class="btn_quick" style="width:90px;height:90px;border-radius: 100%;background: url(__HOME_CSS__/wapcssjsimg/images/vip_quick.png)  no-repeat center;position: fixed;bottom:200px;left:30px;z-index: 99999999;"></div>
<div class="shade" style="display:none;background: rgba(0,0,0,0.5);position: fixed;top:0;bottom: 0;left: 0;right: 0;z-index: 99999999;"></div>
<div class="quick_window" style="display:none;background: #F0F0F0;position:fixed;top:50px;padding-bottom:50px;left: 80px;right:80px;z-index: 999999999999;font-size: 24px;border-radius: 10px;overflow: hidden;">
	{if condition = "($Think.session.user_auth_home.uid)"}
	<i style="display: block;width:50px;height:50px;line-height: 50px;text-align: center;font-size: 50px;color: white;position: absolute;right: 10px;top:10px;font-style: normal;">&times;</i>
	<div style="background: url(__HOME_CSS__/wapcssjsimg/images/c-sp.jpg) no-repeat center;background-size: cover;color: white;padding-bottom: 50px;">
		<div class="clearfix" style="width:500px;margin:0 auto;padding-top:50px;">
			<font style="float: left;width:120px;height:120px;border-radius: 100%;border: 1px solid #999;background:url({$quick_user_info.head_img}) no-repeat center;background-size: cover;"></font>
			<div style="float: left;margin-left: 30px;color:white;margin-top:18px;">
				<p class="clearfix" style="text-align: left;">
					<span style="font-size:30px;">{$quick_user_info.nickname|urldecode}</span>
					{if condition = "$quick_user_info.sex eq 1"}
					<img src="__HOME_CSS__/wapcssjsimg/images/sex2.png" style="width: 25px;height:25px;"/>
					{else/}
					<img src="__HOME_CSS__/wapcssjsimg/images/sexw.png" style="width: 25px;height:25px;"/>
					{/if}

				</p>
				<p style="margin-top:5px;">约游ID：{$quick_user_info.sys_id}</p>
			</div>
		</div>
		<p style="width:500px;margin:0 auto;color:white;text-align: left;margin-top: 20px;">当前资料完成率</p>
		<div style="margin: 0 30px;margin-top:100px;">
			<div style="width:500px;height:30px;border-radius: 15px;margin: 0 auto;background:#DEE9FB;box-shadow:0 2px 5px #ccc inset;position: relative;">
				<div style="width:{$quick_user_info.progress_num * 125 }px;height:30px;border-radius: 15px;background:#D491E1;position: absolute;left: 0;top: 0;">
					<p style="width:100px;height:50px;line-height: 50px;text-align: center;background: white;border-radius: 5px;position: absolute;right: -50px;top:-80px;">
						<i style="border-top: 10px solid white;border-right: 10px solid transparent;border-left: 10px solid transparent;position: absolute;left:50%;bottom: -9px;margin-left: -9px;"></i>
						<span style="color:#E4469C;">{$quick_user_info.progress_num * 25}%</span>
					</p>
				</div>
			</div>
			<div class="clearfix" style="width: 500px;margin: 0 auto;margin-top:10px;">
				<span style="float: left;">0%</span>
				<span style="float: right;">100%</span>
			</div>
		</div>
	</div>

	<div style="color:#626262;font-size:28px;background: white;">
		<div onclick="window.location.href='http://'+window.location.host+'/user/my_info/show/id/8.html'" class="clearfix" style="height: 80px;line-height: 80px;border-bottom: 1px solid #D4DBED;">
			<font style="float: left;margin-left: 50px;">手机号</font>
			<img src="__HOME_CSS__/wapcssjsimg/images/quick_right.png" style="height:20px;float: right;margin-right: 50px;margin-top: 30px;"/>
			<span style="float: right;margin-right: 50px;color: #9F9F9F;margin-right: 10px;">{if condition="$quick_user_info.is_bind_phone eq 1"}{$quick_user_info.phone}{else/}未绑定{/if}</span>
		</div>
		<div onclick="window.location.href='http://'+window.location.host+'/user/become_member/member_list'" class="clearfix" style="height: 80px;line-height: 80px;border-bottom: 1px solid #D4DBED;">
			<font style="float: left;margin-left: 50px;">VIP会员</font>
			<img src="__HOME_CSS__/wapcssjsimg/images/quick_right.png" style="height:20px;float: right;margin-right: 50px;margin-top: 30px;"/>
			<span style="float: right;margin-right: 50px;color: #9F9F9F;margin-right: 10px;">{if condition="$quick_user_info.group_name eq null"}未开通{else/}{$quick_user_info.group_name}{/if}</span>
		</div>
		<div onclick="window.location.href='http://'+window.location.host+'/user/index/index'" class="clearfix" style="height: 80px;line-height: 80px;border-bottom: 1px solid #D4DBED;">
			<font style="float: left;margin-left: 50px;">实名认证</font>
			<img src="__HOME_CSS__/wapcssjsimg/images/quick_right.png" style="height:20px;float: right;margin-right: 50px;margin-top: 30px;"/>
			<span style="float: right;margin-right: 50px;color: #9F9F9F;margin-right: 10px;">{if condition="$quick_user_info.status eq 1"}
                认证成功
                {elseif condition="$quick_user_info.status eq 3"/}
                认证中
                {elseif condition="$quick_user_info.status eq 2"/}
                审核失败
                {else/}
                未认证
                {/if}
            </span>
		</div>
		<div onclick="window.location.href='http://'+window.location.host+'/user/index/index'" class="clearfix" style="height: 80px;line-height: 80px;border-bottom: 1px solid #D4DBED;">
			<font style="float: left;margin-left: 50px;">成为伴游</font>
			<img src="__HOME_CSS__/wapcssjsimg/images/quick_right.png" style="height:20px;float: right;margin-right: 50px;margin-top: 30px;"/>
			<span style="float: right;margin-right: 50px;color: #9F9F9F;margin-right: 10px;">{if condition="$quick_user_info.is_escort eq 1"}
                                伴游
                        {/if}
            </span>
		</div>
		<!--<div style="width:300px;height:80px;line-height: 80px;text-align: center;border-radius: 40px;background:whitesmoke;background-size: cover;color:#999999;margin-top: 20px;box-shadow: 0 1px 6px #ccc;">手机已绑定</div>
        <div style="width:300px;height:80px;line-height: 80px;text-align: center;border-radius: 40px;background: url(__HOME_CSS__/wapcssjsimg/images/c-sp.jpg) no-repeat center;background-size: cover;color:white;margin-top: 20px;box-shadow: 0 1px 6px #ccc;">注册VIP</div>
        <div style="width:300px;height:80px;line-height: 80px;text-align: center;border-radius: 40px;background: url(__HOME_CSS__/wapcssjsimg/images/c-sp.jpg) no-repeat center;background-size: cover;color:white;margin-top: 20px;box-shadow: 0 1px 6px #ccc;">未实名认证</div>
        <div style="width:300px;height:80px;line-height: 80px;text-align: center;border-radius: 40px;background: url(__HOME_CSS__/wapcssjsimg/images/c-sp.jpg) no-repeat center;background-size: cover;color:white;margin-top: 20px;box-shadow: 0 1px 6px #ccc;">成为伴游</div>-->
	</div>
	<p style="text-align: center;padding:50px 0;color: #BB3D8E;">
		提示：完善以上资料能让您享受更多服务
	</p>
	<div onclick="window.location.href='http://56053551.im.m.weimob.com'" style="width:300px;height:90px;line-height: 90px;text-align: center;margin: 0 auto;color: white;border-radius: 45px;background: url(__HOME_CSS__/wapcssjsimg/images/c-sp.jpg) no-repeat center;background-size: cover;">
		在线客服
	</div>
	{/if}
	<!--<div class="btn_hide" style="width:90px;height:90px;line-height:90px;text-align: center;border-radius: 100%;background: #EFEFF4;color:#999;position: absolute;bottom:-120px;left: 50%;margin-left: -45px;font-size:50px;">&times;</div>-->
</div>


<div class="tck">
    <div class="tck_content" style="width:550px;height:382px;border-radius:30px;position: absolute;left:50%;top:50%;margin-left:-275px;margin-top:-202px;background: url(__HOME_CSS__/wapcssjsimg/images/c-sp.jpg) no-repeat center;background-size: cover;">
        <h1 style="color: white;font-weight: normal;color:#DADADA;">请绑定手机</h1>
        <div class="tck_content_cent" style="border-bottom: 1px solid #EFEFF4;">
            <!--<p style="color:white;">绑定手机号!</p>-->
            <input type="text" id="mobile_phone" name="" class="tck_content_input" placeholder="请输入手机号">
            <div class="btn_box">
            	<div class="get_btn">
            		<button class="get_verify_bt" id="get_verify_bt" onclick="get_verify($('#mobile_phone').val(),this);">获取验证码</button>
            	</div>

            	<input placeholder="输入验证码" type="text" id="verify" name="" class="tck_content_input" />
            </div>
        </div>
        <div class="tck_content_botm">
            <a href="javascript:void(0);" style="border-right:1px solid #EFEFF4;color: white;" class="tck_botm_a1">取 消</a>
            <a href="javascript:void(0);" style="color: white;" class="tck_botm_a2">确 定</a>
        </div>
    </div>
</div>

<div id="list-index">
    <div class="list-index-tt"><span><a href="" class="hover">推荐</a><a href="" style="display: none">认证</a><a href="" style="display: none">新人</a></span><p class="ioc1-3"><a href="">筛选</a></p></div>

    <!--&lt;!&ndash;下拉刷新容器&ndash;&gt;
    <div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="position:fixed;top:100px;bottom:0;">
        <div class="mui-scroll">
            &lt;!&ndash;数据列表&ndash;&gt;
            <ul class="mui-table-view mui-table-view-chevron items">

            </ul>
        </div>
    </div>-->
	<style type="text/css">
		.mui-pull-caption{
		    height: 50px;
		    line-height: 50px;
		    font-size: 20px;
		    color:#999999;
		}
		.mui-pull-caption-refresh{
			height:100px;
			padding-top:20px;
		}
	</style>
    <div class="list-index-lis" id="pullrefresh" style="width:100%;position: fixed;top: 180px;bottom: 100px;">
        <div class="mui-scroll" >
            <div style="width:720px;margin:0 auto;" class="mui-table-view mui-table-view-chevron items clearfix">
                {volist name="data" id="vo"}
                <div class="jj">
                    <div class="pic">
                        <a class="list" onclick="window.location.href='{:url(\'user/ReleaseDetail/index\',[\'id\'=>$vo.id])}'">
                            <img src="{$vo.head_img}" >
                        </a>
                    </div>
                    <div class="tt1"><p>{$vo.nickname|urldecode}</p><span class="sex1"></span><p>{$vo.id_card_num}岁</p></div>
                    <div class="tt2"><p>{$vo.address}</p>  <p>{$vo.height}cm</p>
                        {if condition = "($Think.session.user_auth_home.uid)"}
                        <span name="juli" data-avgid="{$vo.id}" data-avgx="{$vo.login_addr_x}" data-avgy="{$vo.login_addr_y}"></span>
                        {/if}
                    </div>
                    <div class="tt3"><p>{$vo.img_num ? $vo.img_num : 0}</p><span>{$vo.video_num ? $vo.video_num : 0}</span></div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>

<div id="allmap" style="display:none;"></div>
{/block}

{block name="page_js"}
    <script type="text/javascript" src="__HOME_JS__/index/index.js"></script>
<script>
    var bindphone = '{$bindphone}';
    if(bindphone){
        $('.tck').css('display','block');
    }
</script>
<!--layui组件-->
<script src="__STATIC__/layer/layer.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<!--用户登录后获取登录的位置，计算得出距离-->
{if condition = "($Think.session.user_auth_home.uid)"}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=r2QRGELPU7lF35I6ttxbKGgCPbFjSVNN"></script>
<script type="text/javascript">
    // 百度地图API功能
    function get_juli(){
        var juli_obj = document.getElementsByName('juli');
        var current_x = "{$Think.session.user_auth_home.login_addr_x}",current_y = "{$Think.session.user_auth_home.login_addr_y}";  //定义当前坐标
        var map = new BMap.Map("allmap");
        map.centerAndZoom("重庆",12);  //初始化地图,设置城市和地图级别。
        //var polyline = new BMap.Polyline([pointA,pointB], {strokeColor:"blue", strokeWeight:6, strokeOpacity:0.5});  //定义折线
        //map.addOverlay(polyline);     //添加折线到地图上
        var pointB = new BMap.Point(current_x,current_y);  // 创建点坐标B--江北区
        for(var f=0;f<juli_obj.length;f++){
        	
            var escort_x = juli_obj[f].getAttribute('data-avgx')!=''?juli_obj[f].getAttribute('data-avgx'):106.53063501+parseFloat(Math.random()*0.1),
                escort_y = juli_obj[f].getAttribute('data-avgy')!=''?juli_obj[f].getAttribute('data-avgy'):29.54460611+parseFloat(Math.random()*0.1);
            //获取伴游的坐标位置，默认系统添加位置
           
            var pointA = new BMap.Point(escort_x,escort_y);  // 创建点坐标A--大渡口区

            //alert((map.getDistance(pointA,pointB)).toFixed(2)+' 米。');
            //var final_juli = (map.getDistance(pointA,pointB)).toFixed(2)==='NaN' ? Math.random()*15*1000 : (map.getDistance(pointA,pointB)).toFixed(2);
            var final_juli = (map.getDistance(pointA,pointB)).toFixed(2)==='NaN' ? '10.1': Math.floor((map.getDistance(pointA,pointB)).toFixed(2)/1000);
            juli_obj[f].innerHTML = final_juli+'km'

            //获取不同伴游id储存距离到本地
            localStorage.setItem('distances'+juli_obj[f].getAttribute('data-avgid'),Math.floor(final_juli));
        }
    }

    get_juli();
</script>
<!-- 引入jquery weui js组件-->
<script src="__STATIC__/jquery-weui/js/jquery-weui.js"></script>
<script>
	
    $('.tck_botm_a1').click(function(){
        $('.tck').remove();
    })
    //获取手机号码

    var aInp = document.querySelector('.tck_content_input');
    var aSure = document.querySelector('.tck_botm_a2');
    var bind_status = false;
    aSure.onclick = function(){
        var phone = document.getElementsByClassName('tck_content_input')[0].value;
        phone = phone.replace(/\s/g, "")
        if(!(/^1[34578]\d{9}$/.test(phone))){
            layer.msg("手机号码有误，请重填");
            return false;
        }
        bind_status = true;
        if(bind_status){
            $.ajax({
                url:'http://'+window.location.host+'/user/index/bindphone',
                data:{phone:phone,verify:$('#verify').val()},
                dataType:'JSON',
                type:'POST',
                success:function(res){
                    if(res === true){
                        layer.msg('绑定成功',function(){
                            $('.tck').remove();
                        });
                    }else{
                        layer.msg(res)
                    }

                }
            });
        }
    };
    function checkPhone(){
        var phone = document.getElementsByClassName('tck_content_input')[0].value;
        phone = phone.replace(/\s/g, "")
        if(!(/^1[34578]\d{9}$/.test(phone))){
            layer.msg("手机号码有误，请重填");
            return false;
        }
        bind_status = true;
        return phone;
    }
</script>
{/if}
<script src="__STATIC__/mui/mui.min.js"></script>
<script>
	csh();//初始化数据随机排列
	function  csh(){
        var arr = $('.items').children('div');
        arr.sort(randomsort);
        
        for(var i=0;i<arr.length;i++){
        	$('.items').append(arr[i]);
        }
	}
	
	
    var aImg = $(document.getElementsByClassName('pic')).find('img');

    var image = new Image()
    for(var i=0; i<aImg.length; i++){
        image.src = $(aImg).eq(i).attr('src')
        if(image.width > image.height){
            $(aImg[i]).height('100%');
            $(aImg[i]).width('auto');
        } else {
            $(aImg[i]).width('100%');
            $(aImg[i]).height('auto');
        }
    }

    var pagenum=0;


    mui.init({
        pullRefresh: {
            container: '#pullrefresh',
            up: {
                height:100,
                auto:false,//true时自动刷新一次
                contentrefresh: '<img style="width:50px;height:50px;display:inline-block;' +
                'animation:abc .6s infinite linear;"' +
                ' src="__HOME_CSS__/wapcssjsimg/images/shuaxin.png"/>',
                contentnomore:'暂无更多数据',
                callback: pullupRefresh
            }
        }
    });

    function pullupRefresh() {
        pagenum++;
        setTimeout(function(){
            post();
        },1000)
    }

    mui("#pullrefresh").on('tap', '.list', function (event) {
        this.click();
        event.stopPropagation();//阻止li事件的点击
    });
    function post(){
    	var arr_person=[];
       var el = document.getElementsByClassName('items')[0];
        $.ajax({
            url:'http://'+window.location.host+'/index/index/get_page_data',
            data:{page:pagenum},
            dataType:'JSON',
            type:'GET',
            success:function(data){
                mui('#pullrefresh').pullRefresh().refresh(true);//重启
                for (var i=0; i<data.length; i++) {
                    var a = data[i].id;
                    var str =
                        '<div class="jj">' +
                        '   <div class="pic">' +
                        '       <a class="list" style="display:block;width:100%;height:100%;" onclick="window.location.href=\'/user/release_detail/index/id/'+a+'.html\'">' +
                        '          <img src="'+data[i].head_img+'" >' +
                        '       </a>' +
                        '   </div>' +
                        '   <div class="tt1"><p>'+data[i].real_name+'</p><span class="sex1"></span><p>'+data[i].id_card_num+'岁</p></div>' +
                        '   <div class="tt2"><p>'+data[i].address+'</p>  <p>'+data[i].height+'cm</p>' +
                        '       {if condition = "($Think.session.user_auth_home.uid)"}' +
                        '            <span name="juli" data-avgid="'+data[i].id+'" data-avgx="'+data[i].login_addr_x+'" data-avgy="'+data[i].login_addr_y+'"></span>' +
                        '        {/if}' +
                        '    </div>' +
                        '    <div class="tt3"><p>'+(data[i].img_num?data[i].img_num:0)+'</p><span>'+(data[i].video_num?data[i].video_num:0)+'</span></div>' +
                        '</div>';
                    arr_person.push(str);
                }
                arr_person.sort(randomsort);
                for(var j=0;j<arr_person.length;j++){
                	el.innerHTML+=arr_person[j];
                }
                //mui('#pullrefresh').pullRefresh().endPullupToRefresh(pagenum>1000);
                mui('#pullrefresh').pullRefresh().endPullupToRefresh(data.length>0?false:true);
                //判断是否登录，获取定位距离
                    {if condition = "($Think.session.user_auth_home.uid)"}
                        get_juli();
                    {/if}
                }
            });

        //pullupRefresh();
        }
    
    function randomsort(a,b){
    	return Math.random()>0.5?-1:1;
    }
    
    
    $('.btn_quick').click(function(){
        {php}
        if($quick_user_info === array()){
            {/php}
                layer.msg('请先登录');
                {php}
            }else{
                {/php}
                    $('.shade').show();
                    $('.quick_window').show();
                    {php}
                }
                {/php}
    })
    $('.shade').click(function(){
    	$('.shade').hide();
    	$('.quick_window').hide();
    })
    $('.quick_window i').click(function(){
    	$('.shade').hide();
    	$('.quick_window').hide();
    })
</script>
{/block}
