
{layout name="layout"/}

{extend name="layout"}
{block name="page_css"}
<!--layer组件css-->
<link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
{/block}
{block name="content"}
<div class="tck">
    <div class="tck_content">
        <h1>提示!</h1>
        <div class="tck_content_cent">
            <p>请绑定手机号!</p>
            <input type="text" name="" class="tck_content_input" >
        </div>
        <div class="tck_content_botm">
            <a href="javascript:void(0);" class="tck_botm_a1">取消</a>
            <a href="javascript:void(0);" class="tck_botm_a2">确定</a>
        </div>
    </div>
</div>

<div id="list-index">
    <div class="list-index-tt"><span><a href="" class="hover">推荐</a><a href="">认证</a><a href="">新人</a></span><p class="ioc1-3"><a href="">筛选</a></p></div>
    <div class="list-index-lis">

        {volist name="data" id="vo"}
            <div class="jj">
                <div class="pic">
                    <a href="{:url('user/ReleaseDetail/index',['id'=>$vo.id])}">
                        <img src="{$vo.head_img}" >
                    </a>
                </div>
                <div class="tt1"><p>{$vo.real_name}</p><span class="sex1"></span><p>{$vo.id_card_num}岁</p></div>
                <div class="tt2"><p>{$vo.address}</p>  <p>{$vo.height}cm</p>
                    {if condition = "($Think.session.user_auth_home.uid)"}
                    <span name="juli" avg_id="{$vo.id}" avg_x="{$vo.login_addr_x}" avg_y="{$vo.login_addr_y}"></span>
                    {/if}
                </div>
                <div class="tt3"><p>{$vo.img_num ? $vo.img_num : 0}</p><span>{$vo.video_num ? $vo.video_num : 0}</span></div>
            </div>
        {/volist}
    </div>
</div>
<div id="allmap" style="display:none;"></div>
{/block}

{block name="page_js"}
    <script type="text/javascript" src="__HOME_JS__/index/index.js"></script>


<script>
    var bindphone = '{$bindphone}';
    if(bindphone){
        $('.tck').css('display','block');
    }
</script>
<!--用户登录后获取登录的位置，计算得出距离-->
{if condition = "($Think.session.user_auth_home.uid)"}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=r2QRGELPU7lF35I6ttxbKGgCPbFjSVNN"></script>
<script type="text/javascript">
    // 百度地图API功能
    var juli_obj = document.getElementsByName('juli');
    var current_x = "{$Think.session.user_auth_home.login_addr_x}",current_y = "{$Think.session.user_auth_home.login_addr_y}";  //定义当前坐标
    var map = new BMap.Map("allmap");
    map.centerAndZoom("重庆",12);  //初始化地图,设置城市和地图级别。
    //var polyline = new BMap.Polyline([pointA,pointB], {strokeColor:"blue", strokeWeight:6, strokeOpacity:0.5});  //定义折线
    //map.addOverlay(polyline);     //添加折线到地图上
    var pointB = new BMap.Point(current_x,current_y);  // 创建点坐标B--江北区
    for(var f=0;f<juli_obj.length;f++){
        var escort_x = juli_obj[f].getAttribute('avg_x')?juli_obj[f].getAttribute('avg_x'): '106.53063501',
            escort_y = juli_obj[f].getAttribute('avg_y')?juli_obj[f].getAttribute('avg_y'):'29.54460611';
        //获取伴游的坐标位置，默认系统添加位置
        var pointA = new BMap.Point(escort_x,escort_y);  // 创建点坐标A--大渡口区

        //alert((map.getDistance(pointA,pointB)).toFixed(2)+' 米。');
        var final_juli = (map.getDistance(pointA,pointB)).toFixed(2)==='NaN' ? 0 : (map.getDistance(pointA,pointB)).toFixed(2);
        juli_obj[f].innerHTML = Math.floor(final_juli/1000)+'km'

        //获取不同伴游id储存距离到本地
        localStorage.setItem('distances'+juli_obj[f].getAttribute('avg_id'),Math.floor(final_juli/1000));
    }
</script>
<!--layui组件-->
<script src="__STATIC__/layer/layer.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script>

    $('.tck_botm_a1').click(function(){
        $('.tck').remove();
    })
    //获取手机号码

    var aInp = document.querySelector('.tck_content_input');
    var aSure = document.querySelector('.tck_botm_a2');
    var bind_status = false;
    aInp.onblur = function(){
        aSure.click = checkPhone();
        if(bind_status){
            $.ajax({
                url:'http://'+window.location.host+'/user/index/bindphone',
                data:{phone:checkPhone()},
                dataType:'JSON',
                type:'POST',
                success:function(res){
                    layer.msg('绑定成功',function(){
                        $('.tck').remove();
                    });
                }
            });
        }
    }
    function checkPhone(){
        var phone = document.getElementsByClassName('tck_content_input')[0].value;
        phone = phone.replace(/\s/g, "")
        if(!(/^1[34578]\d{9}$/.test(phone))){
            layer.msg("手机号码有误，请重填");
            return false;
        }
        bind_status = true;
        return phone;
    }
</script>
{/if}
{/block}
