
{extend name="layout"}
{block name="page_title"}
注册
{/block}
{block name="page_button"}
<dt><a href="{:url('user/Login/index')}">登录</a></dt>
{/block}
{block name="content"}
<div id="login">
    <div class="login-1-zc">
        <form action="" name="ff1" method="post" onsubmit="return sub_fun()">
            <li class="tt1"><input id="mobile_phone" name="identifier" type="text" class="txt1" value="" placeholder="请输入手机号"></li>
            <li class="tt2"><input id="check_verify"  name="check_verify" type="text" class="txt1" value="" placeholder="请输入验证码"><a onclick="get_verify($('#mobile_phone').val(),this,'{$forgetPass}');">获取验证码</a></li>
            <li class="tt1"><input id="password" name="password" type="password" class="txt1" placeholder="请输入密码（至少6位,字母和数字组合）" value=""></li>
            <li class="tt2"><input readonly type="text" class="txt1" value="" placeholder="性别">
                <label>
                    <input type="radio" name="sex" value="1" id="sex_0"><p>男</p>
                </label>
                <label>
                    <input type="radio" name="sex" value="2" id="sex_1"><p>女</p>
                </label>
            </li>
            <li class="tishi1">性别选择之后将无法修改，请慎重！</li>
            <li class="tt3"><input name="tj" class="tj" type="submit" value="注册"></li>
            <li class="tishi2">点击注册默认您同意<a href="{:url('user/Signin/agreement')}">《爱约游用户协议》</a></li>
            <li class="tishi2"><a href="{:url('user/Login/index')}" style="float:right;">手机号登录</a></li>
        </form>
    </div>
    <div class="login-2">
        <div class="logo2-1">其他账号登录</div>
        <div class="logo2-2">
            <ul>
                <li><a id="weixin" href="{:url('user/Signin/third_party_sign','','')}"><img src="__HOME_CSS__/wapcssjsimg/images/login-1.png" ></a></li>
                <li><a href=""><img src="__HOME_CSS__/wapcssjsimg/images/login-2.png" ></a></li>
                <li><a href=""><img src="__HOME_CSS__/wapcssjsimg/images/login-3.png" ></a></li>
            </ul>
        </div>
    </div>

</div>
{/block}
{block name="foot_content"}
{/block}

{block name="page_js"}
<script>

    var url ='{$url_root}';
    console.log(url)
</script>
<script src="__HOME_JS__/user/signin/index.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=r2QRGELPU7lF35I6ttxbKGgCPbFjSVNN"></script>
<script>
    var  point_lng = '';  //经度坐标
    var point_lat = '';     //纬度坐标
        var geolocation = new BMap.Geolocation();
        // 创建地理编码实例
        var myGeo = new BMap.Geocoder();
        geolocation.getCurrentPosition(function(r){
            if(this.getStatus() == BMAP_STATUS_SUCCESS){
                var pt = r.point;
// 根据坐标得到地址描述
                myGeo.getLocation(pt, function(result){
                    if (result){
                        var addComp = result.addressComponents;
                        //alert(addComp.province + "," + addComp.city+ "," +addComp.district +","+result.business);
                        point_lng = r.point.lng;
                        point_lat = r.point.lat;
                        //alert('您的位置：'+point_lng+','+point_lat);
                        $('#weixin').attr('href',$('#weixin').attr('href')+'/x/'+point_lng+'/y/'+point_lat)
                    }
                });
            }
        });
</script>
{/block}