{extend name="layout"}
{block name="page_title"}
消息
{/block}

{block name="content"}
<div id="xiaoxi">
    <div class="xiaoxi-1">
        <div class="lis">
            {php}
                if($data->recharge->info_num){
            {/php}

            <a href="show.html">
                <dl><img src="__HOME_CSS__/wapcssjsimg/images/xiaoxi-1.png" class="falai" >
                <dt>
                <b>充值消息小助手</b>
                <p>{php}echo date('Y-m-d H:i',$data->recharge->recharge_time);{/php}</p>
                </dt>
                <dd>充值新消息查看{php}if($data->recharge->recharge_num) echo '('.$data->recharge->recharge_num.')'{/php}</dd>
                </dl>
            </a>
            {php}
                    }
                if($data->upgrademember->info_num){
            {/php}
                <a href="vip.html">
                    <dl><img src="__HOME_CSS__/wapcssjsimg/images/xiaoxi-1.png" class="falai" >
                        <dt>
                            <b>会员升级消息小助手</b>
                            <p>{php}echo date('Y-m-d H:i',$data->upgrademember->upgrademember_time);{/php}</p>
                        </dt>
                        <dd>会员升级新消息查看{php}if($data->upgrademember->upgrademember_num) echo '('.$data->upgrademember->upgrademember_num.')'{/php}</dd>
                    </dl>
                </a>
             {php}}{/php}
            {volist name="chat_res" id="value"}
            {if condition="$start_uid eq $value.send_uid"}
            <a href="{:url('user/chat_content/index',['obj_uid'=>$value.receive_uid])}">
                <dl><img src="{$value.head_img}" class="falai" >
                    <dt>
                        <b>{$value.nickname|urldecode}</b>
                        <p>{$value.create_time|date='Y-m-d H:i',###} {if condition = "isset($value.cnum)"}({$value.cnum}条){/if}</p>
                    </dt>
                    <dd>{$value.content|mb_substr=0,5}...</dd>
                </dl>
            </a>
            {else/}
            <a href="{:url('user/chat_content/index',['obj_uid'=>$value.send_uid])}">
                <dl><img src="{$value.head_img}" class="falai" >
                    <dt>
                        <b>{$value.nickname|urldecode}</b>
                        <p>{$value.create_time|date='Y-m-d H:i',###} {if condition = "isset($value.cnum)"}({$value.cnum}条){/if}</p>
                    </dt>
                    <dd>{$value.content|mb_substr=0,5}...</dd>
                </dl>
            </a>
            {/if}
            {/volist}
            {php} if($sys_news_info){{/php}
            <a href="sys_news.html">
                <dl><img src="__HOME_CSS__/wapcssjsimg/images/xiaoxi-1.png" class="falai" >
                    <dt>
                        <b>系统消息</b>
                        <p>{php}
                            echo date('Y-m-d H:i',$sys_news_info['sys_news_create_time']);
                            if($sys_news_info['no_read_num']){
                                echo '('.$sys_news_info['no_read_num'].'条)';
                            }
                            {/php}</p>
                    </dt>
                    <dd>系统消息查看:{php} echo mb_substr($sys_news_info['sys_news_content'],0,10).'...';{/php}</dd>
                </dl>
            </a>
            {php}}{/php}
        </div>
    </div>
</div>
{/block}

{block name="page_js"}
    <script type="text/javascript" src="__HOME_JS__/user/common.js"></script>
{/block}

