<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="target-densitydpi=750,width=750,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。添加以下头部可以禁用掉该优化-->
    <meta name="wap-font-scale" content="no">
    <title>爱约游</title>
    <meta name="keywords" content="约游">
    <meta name="description" content="约游">

    <link rel="stylesheet" href="__HOME_CSS__/wapcssjsimg/cssjs/css.css">




</head>
<body>

{block name="head_content"}
<section id="head">
    <div class="head">
        <dl>
            <dt class="ioc1-1"><a href=""></a></dt>
            <dd class="logo1"><a href="/"></a></dd>
            <dt class="ioc1-2"><a href=""></a></dt>
        </dl>
    </div>
</section>
<section id="top_kong"></section>
{/block}

<!--{__CONTENT__}-->


{block name="content"}

{/block}


<section id="foot_kong"></section>
<div id="ft_fixed">
    <div class="ft_fixed">
        <li class="hover"><a href="{:url('index/Index/index')}">约TA</a></li>
        <li><a href="{:url('user/Journey/index')}">旅途</a></li>
        <li><a href="{:url('user/Release/index')}">发布</a></li>
        <li><a href="{:url('user/News/index')}">消息</a></li>
        <li><a href="{:url('user/Index/index')}">我的</a></li>
    </div>
</div>

<script type="text/javascript" src="__HOME_CSS__/wapcssjsimg/cssjs/jquery.min.js"></script>
</body>
{block name="page_js"}

{/block}
</html>