<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="target-densitydpi=750,width=750,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。添加以下头部可以禁用掉该优化-->
    <meta name="wap-font-scale" content="no">
    <title>约游</title>
    <meta name="keywords" content="约游">
    <meta name="description" content="约游">

    <link rel="stylesheet" href="__HOME_CSS__/wapcssjsimg/cssjs/css.css">

</head>
<body style="background: #161c26; background-size:100% auto;">

<section id="top">
    <div class="top">
        <dl>
            <dt class="arrw-1"><a href="javascript:history.go(-1);"></a></dt>
            <dd>成为伴游</dd>
            <dt class="arrw-3"><a href=""></a></dt>
        </dl>
    </div>
</section>
<section id="top_kong"></section>


<div id="cwby">
    <div class="cwby-1">
        <form action="" name="ff1" method="post">
            <ul>
                <li class="tt1"><b>姓名</b><p><input name="sjh" type="text" class="txt1" value="" placeholder="请输入"></p></li>
                <li class="tt1"><b>身份证号</b><p><input name="sfzh" type="text" class="txt1" value="" placeholder="请输入"></p></li>
                <li class="tt1"><b>性别</b><p><select name="sex" class="select1">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select> </p></li>
            </ul>
            <ul>
                <li class="tt1"><b>手机号</b><p><input name="sjh" type="text" class="txt1" value="" placeholder="请输入"></p></li>
                <li class="tt2"><b>验证码</b><p><input name="yzm" type="text" class="txt1" value="" placeholder="请输入"><a href="">发送验证码</a></p></li>
            </ul>
            <ul>
                <li class="tt3"><input name="tj" class="tj" type="submit" value="签约伴游"></li>
                <li class="tishi1"><input type="radio" name="zhidu" value="0" id="zhidu"><a href="">《爱约游伴游规章制度》</a></li>
            </ul>
        </form>
    </div>


</div>






<!--<script type="text/javascript" src="wapcssjsimg/cssjs/cnzz.js"></script>-->



</body>
</html> 