
{extend name="layout"}

{block name="page_title"}
我的
{/block}
{block name="content"}
<div id="cwby">
    <div class="cwby-1">
        <form action="" name="ff1" method="post" onsubmit="return sub_fun()">
            <ul>
                <li class="tt1"><b>姓名</b><p><input id="real_name" name="sjh" type="text" class="txt1" value="{$data.real_name}" placeholder="请输入"></p></li>
                <li class="tt1"><b>身份证号</b><p><input id="sfzh" name="sfzh" type="text" class="txt1" value="{$type.id_card_num}" placeholder="请输入"></p></li>
                <li class="tt1"><b>性别</b><p><select name="sex" class="select1" readonly="readonly">
                    {if condition="$data.sex eq 1 "}
                    <option value="男">男</option>
                    {else /}
                    <option value="女">女</option>
                    {/if}
                </select> </p></li>
            </ul>
            <ul>
                <li class="tt1"><b>手机号</b><p><input id="mobile_phone" name="sjh" type="text" class="txt1" value="{$data.phone}" placeholder="请输入"></p></li>
                <li class="tt2"><b>验证码</b><p><input id="check_verify"  name="check_verify" type="text" class="txt1" value="" placeholder="请输入验证码">
                    <a onclick="get_verify($('#mobile_phone').val(),this,'{$forgetPass}');">获取验证码</a></p></li>
            </ul>
            <ul>
                <li class="tt3"><input name="tj" class="tj" type="submit" value="签约伴游"></li>
                <li class="tishi1"><input type="radio" name="zhidu" value="0" id="zhidu"><a href="">《爱约游伴游规章制度》</a></li>
            </ul>
        </form>
    </div>
</div>
{/block}
{block name="foot_content"}

{/block}
{block name="page_js"}
<script src="__HOME_JS__/user/become_escort/index.js"></script>
{/block}

