{layout name="layout"}

{extend name="layout"}
{block name="page_title"}
旅途
{/block}
{block name="content"}
<div id="lvtu">
    <div class="lvtu_lis">
        <a href="{:url('user/Journey/journey_detail')}">
            <div class="lt-kk">
                <div class="lt-kk-1">
                    <div class="pic"><img src="__HOME_CSS__/wapcssjsimg/images/man-1.jpg" width="90" height="90"></div>
                    <div class="tit">
                        <div class="tit-1"><b>关小路</b> | 职业投资人</div>
                        <div class="tit-2">42岁.30-50w.北京</div>
                    </div>
                    <div class="gz"><a href="">+  关注</a></div>
                </div>
                <div class="lt-kk-2">
                    <div class="info">
                        <ul>
                            <li>・邀约对象：不限</li>
                            <li>・出行方式：越野自驾</li>
                            <li>・费&nbsp;&nbsp;&nbsp;&nbsp;用：吃住包</li>
                        </ul>
                        <div class="date">2017-12-02  10：20：09发布</div>
                    </div>
                    <div class="gxq"><a href=""><p>感兴趣</p></a></div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="lt-kk">
                <div class="lt-kk-1">
                    <div class="pic"><img src="__HOME_CSS__/wapcssjsimg/images/man-1.jpg" width="90" height="90"></div>
                    <div class="tit">
                        <div class="tit-1"><b>关小路</b> | 职业投资人</div>
                        <div class="tit-2">42岁.30-50w.北京</div>
                    </div>
                    <div class="gz"><a href="">+  关注</a></div>
                </div>
                <div class="lt-kk-2">
                    <div class="info">
                        <ul>
                            <li>・邀约对象：不限</li>
                            <li>・出行方式：越野自驾</li>
                            <li>・费&nbsp;&nbsp;&nbsp;&nbsp;用：吃住包</li>
                        </ul>
                        <div class="date">2017-12-02  10：20：09发布</div>
                    </div>
                    <div class="gxq"><a href=""><p>感兴趣</p></a></div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="lt-kk">
                <div class="lt-kk-1">
                    <div class="pic"><img src="__HOME_CSS__/wapcssjsimg/images/man-1.jpg" width="90" height="90"></div>
                    <div class="tit">
                        <div class="tit-1"><b>关小路</b> | 职业投资人</div>
                        <div class="tit-2">42岁.30-50w.北京</div>
                    </div>
                    <div class="gz"><a href="">+  关注</a></div>
                </div>
                <div class="lt-kk-2">
                    <div class="info">
                        <ul>
                            <li>・邀约对象：不限</li>
                            <li>・出行方式：越野自驾</li>
                            <li>・费&nbsp;&nbsp;&nbsp;&nbsp;用：吃住包</li>
                        </ul>
                        <div class="date">2017-12-02  10：20：09发布</div>
                    </div>
                    <div class="gxq"><a href=""><p>感兴趣</p></a></div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="lt-kk">
                <div class="lt-kk-1">
                    <div class="pic"><img src="__HOME_CSS__/wapcssjsimg/images/man-1.jpg" width="90" height="90"></div>
                    <div class="tit">
                        <div class="tit-1"><b>关小路</b> | 职业投资人</div>
                        <div class="tit-2">42岁.30-50w.北京</div>
                    </div>
                    <div class="gz"><a href="">+  关注</a></div>
                </div>
                <div class="lt-kk-2">
                    <div class="info">
                        <ul>
                            <li>・邀约对象：不限</li>
                            <li>・出行方式：越野自驾</li>
                            <li>・费&nbsp;&nbsp;&nbsp;&nbsp;用：吃住包</li>
                        </ul>
                        <div class="date">2017-12-02  10：20：09发布</div>
                    </div>
                    <div class="gxq"><a href=""><p>感兴趣</p></a></div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="lt-kk">
                <div class="lt-kk-1">
                    <div class="pic"><img src="__HOME_CSS__/wapcssjsimg/images/man-1.jpg" width="90" height="90"></div>
                    <div class="tit">
                        <div class="tit-1"><b>关小路</b> | 职业投资人</div>
                        <div class="tit-2">42岁.30-50w.北京</div>
                    </div>
                    <div class="gz"><a href="">+  关注</a></div>
                </div>
                <div class="lt-kk-2">
                    <div class="info">
                        <ul>
                            <li>・邀约对象：不限</li>
                            <li>・出行方式：越野自驾</li>
                            <li>・费&nbsp;&nbsp;&nbsp;&nbsp;用：吃住包</li>
                        </ul>
                        <div class="date">2017-12-02  10：20：09发布</div>
                    </div>
                    <div class="gxq"><a href=""><p>感兴趣</p></a></div>
                </div>
            </div>
        </a>

    </div>

</div>
{/block}

