{extend name="layout"}


{block name="page_css"}
<link rel="stylesheet" href="__ROOT____HOME_CSS__/wapcssjsimg/cssjs/swiper.min.css">
{/block}



{block name="content"}
<div id="lvtu-show">
    <div class="lvtu-show-pic">
        <div class="swiper-container">
            <div class="swiper-wrapper" >
                <div class="swiper-slide"><img src="__ROOT____HOME_CSS__/wapcssjsimg/images/man-1.jpg" /></div>
                <div class="swiper-slide"><img src="__ROOT____HOME_CSS__/wapcssjsimg/images/man-1.jpg" /></div>
                <div class="swiper-slide"><img src="__ROOT____HOME_CSS__/wapcssjsimg/images/man-1.jpg" /></div>
            </div>
            <!-- Add Pagination -->
            <div class="quyu">北京</div>
            <div class="swiper-pagination swiper-pagination-black"></div>
        </div>

    </div>


    <div class="lvtu-show-lis">
        <div class="title1"><dl><dt><b>关小路</b><p>职业投资人</p> <span><a href="" target="_blank">详细资料></a></span></dt><dd>42岁・30-50w</dd></dl> </div>
        <div class="video">
            <div class="video-1">视频认证</div>
            <div class="video-2"><a href=" "><img src="__ROOT____HOME_CSS__/wapcssjsimg/images/video-rz.png" ></a></div>
        </div>
        <div class="lvxing">
            <div class="lvxing-1">Ta的旅行</div>
            <div class="lvxing-2">
                <div class="date">2017-12-02   10:20:09  发布</div>
                <div class="xx">
                    <ul>
                        <li><b>邀约对象：</b><p>不限</p></li>
                        <li><b>出行方式：</b><p>越野自驾</p></li>
                        <li><b>费&nbsp;&nbsp;&nbsp;&nbsp;用：</b><p>包吃住</p></li>
                    </ul>
                </div>
                <div class="overdate">还有10天结束</div>
            </div>
        </div>
        <div class="lvtu-show-1-end"></div>

    </div>

</div>

{/block}
{block name="foot_content"}

<section id="foot_kong"></section>
<div id="boot2">
    <div class="boot2">
        <dl>
            <dt><a href=""><p>感兴趣</p></a><a href=""><p>HI</p></a></dt>
            <dd><a href="">关注</a></dd>
        </dl>
    </div>
</div>

{/block}


{block name="page_js"}

<script src="__ROOT____HOME_CSS__/wapcssjsimg/cssjs/swiper.min.js"></script>
<script src="__ROOT____HOME_JS__/user/journey/detail.js"></script>

{/block}