<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="target-densitydpi=750,width=750,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。添加以下头部可以禁用掉该优化-->
    <meta name="wap-font-scale" content="no">
    <title>约游</title>
    <meta name="keywords" content="约游">
    <meta name="description" content="约游">

    <link rel="stylesheet" href="__HOME_CSS__/wapcssjsimg/cssjs/css.css">

</head>
<body>

<section id="top">
    <div class="top">
        <dl>
            <dt class="arrw-1"><a href="javascript:history.go(-1);"></a></dt>
            <dd>选择支付方式</dd>
            <dt class="arrw-3"><a href=""></a></dt>
        </dl>
    </div>
</section>
<section id="top_kong"></section>


<form name="ff1" method="post" id="form" onsubmit="return sub()">
    <div id="huangg">

        <div class="huiyuan-1"><dl>
            <img src="__HOME_CSS__/wapcssjsimg/images/huiyuan-1.png" >
            <dt>{$data.group_name}会员</dt><dd>已有<b>{$data.people_num}</b>人购买</dd></dl></div>
        <div class="huangg-2">
            <ul>
                <li><b>使用账户余额</b><p ><input onclick=fun("{:url('user/index/pay','','')}",'account') name="shiyong" type="radio" value="1" src="__HOME_CSS__/wapcssjsimg/images/inputradio.png" ></p></li>
            </ul>
        </div>
        <div class="huangg-3">
            <ul>
                <li><b>微信支付</b><p class="on"><input onclick=fun("{:url('index/wxpay/index','','')}") name="shiyong" type="radio" value="2" ></p></li>
                <li><b>支付宝</b><p class="on"><input onclick=fun("{:url('index/wxpay/index','','')}") name="shiyong" type="radio" value="3" ></p></li>
                <li><b>银行卡</b><p class="on"><input onclick=fun("{:url('index/wxpay/index','','')}") name="shiyong" type="radio" value="4" ></p></li>
            </ul>
        </div>
        <div class="huangg-4">
            <div class="huangg-4-1">成为会员即表示同意《游约会员协议》</div>
        </div>
        <input name="kt" id="kt" value="{$data.id}" type="hidden"/>
        <input name="price_type"  value="{$price_type}" type="hidden"/>
        <input name="get_uid"  value="{php} echo UID; {/php}" type="hidden"/>

    </div>

    <section id="foot_kong"></section>
    <div id="jiesuan">
        <div class="jiesuan">
            <dl>
                <dt><b>总计：</b>￥{$price}</dt>
                <dd><input type="submit" name="js" value="确认支付" ></dd>
            </dl>
        </div>
    </div>



</form>


</body>
<script type="text/javascript" src="__HOME_CSS__/wapcssjsimg/cssjs/jquery.min.js"></script>
<script>

    //声明是否选择支付方式初始值
    var pay_type=false;
    /*
    * 支付跳转页面方法
    * @param  string action_url 提交跳转地址
    * */
    function fun(action_url,type){
        document.getElementById('form').setAttribute('action',action_url)
        if(type === 'account'){
            pay_type = type;
        }else{
            pay_type = true;
        }
    }

    function sub(){
        if(!pay_type){
            alert('请选择支付方式')
        }
        if(pay_type === 'account'){

            $.ajax({
               url:'http://'+window.location.host+'/user/index/pay',
               data:$('#form').serialize(),
               dataType:'JSON',
               type:'POST',
               success:function(res){
                    alert(res);
               }
            });

            return false;
        }
        return pay_type;
    }
</script>
</html>