<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="target-densitydpi=750,width=750,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。添加以下头部可以禁用掉该优化-->
    <meta name="wap-font-scale" content="no">
    <title>约游</title>
    <meta name="keywords" content="约游">
    <meta name="description" content="约游">

    <link rel="stylesheet" href="__ROOT____HOME_CSS__/wapcssjsimg/cssjs/css.css">

</head>
<body style="background:url('__ROOT____HOME_CSS__/wapcssjsimg/images/kaitong-bg.jpg') no-repeat #161c26; background-position:0px 88px; background-size:750px auto;">

<section id="top-kaitong">
    <div class="top-kaitong">
        <dl>
            <dt class="arrw-4"><a href="javascript:history.go(-1);"></a></dt>
            <dd></dd>
            <dt class="arrw-5"><a href=""></a></dt>
        </dl>
    </div>
</section>


<form action="?333" name="ff1" method="post">
    <div id="kaitong">
        <div class="kaitong-1"><dl>
            <dt><img src="__ROOT____HOME_CSS__/wapcssjsimg/images/tou1.jpg" ></dt><dd>hi大米，开通会员，即刻体验约游会员专属权益！</dd></dl></div>
        <div class="kaitong-2">
            <div class="kaitong-2-1"><dl><dt><img src="__ROOT____HOME_CSS__/wapcssjsimg/images/kthy-1.png" >钻石VIP</dt><dd>1280元/年</dd></dl></div>
            <div class="kaitong-2-2">
                <ul>
                    <li>查看照片</li>
                    <li>查看联系方式</li>
                    <li>无限发送私信</li>
                </ul>
            </div>
            <div class="kaitong-2-3"><input type="submit" name="kthy" value="开通会员" ></div>
        </div>


    </div>
</form>




<section id="foot_kong"></section>
<div id="ft_fixed">
    <div class="ft_fixed">
        <li class="hover"><a href="/">约TA</a></li>
        <li><a href="/">旅途</a></li>
        <li><a href="/">发布</a></li>
        <li><a href="/">消息</a></li>
        <li><a href="/">我的</a></li>
    </div>
</div>
</body>
</html>