<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="target-densitydpi=750,width=750,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。添加以下头部可以禁用掉该优化-->
    <meta name="wap-font-scale" content="no">
    <title>约游</title>
    <meta name="keywords" content="约游">
    <meta name="description" content="约游">

    <link rel="stylesheet" href="__HOME_CSS__/wapcssjsimg/cssjs/css.css">

</head>
<body style="background:url('__HOME_CSS__/wapcssjsimg/images/kaitong-bg.jpg') no-repeat #161c26; background-position:0px 88px; background-size:750px auto;">

<section id="top-kaitong">
    <div class="top-kaitong">
        <dl>
            <dt class="arrw-4"><a href="javascript:history.go(-1);"></a></dt>
            <dd></dd>
            <dt class="arrw-5"><a href=""></a></dt>
        </dl>
    </div>
</section>



    <div id="kaitong">
        <div class="kaitong-1"><dl>
            <dt><img src="__HOME_CSS__/wapcssjsimg/images/tou1.jpg" ></dt><dd>hi大米，开通会员，即刻体验约游会员专属权益！</dd></dl></div>
       {volist name="member_group" id="vo"}
        <form action="{:url('index/wxpay/index','','')}" method="post" >
        <div class="kaitong-2">
            <div class="kaitong-2-1">
                <dl>
                    <dt><img src="__HOME_CSS__/wapcssjsimg/images/kthy-1.png" >{$vo.group_name}</dt>
                    {if condition="$vo.price_y neq 0 || $vo.price_m neq 0 || $vo.price_a neq 0"}
                    <dd>{$vo.price_y}元/月 {$vo.price_m}元/半年 {$vo.price_a}元/年</dd>
                    {elseif condition="$vo.prestore neq 0"}
                    <dd>预存{$vo.prestore}即可</dd>
                    <dd>赠送{$vo.gift_money}</dd>
                    {/if}
                </dl>
            </div>
            <div class="kaitong-2-2">
                <ul>
                    {volist name="$vo.privilege" id="val"}
                    <li>{$val}</li>
                    {/volist}
                </ul>
            </div>
            <input name="kt" id="kt" value="{$vo.id}" type="hidden"/>
            <input name="get_openid"  value="{php} echo UID; {/php}" type="hidden"/>
            <div class="kaitong-2-3"><input type="submit"  value="开通会员" ></div>
        </div>
        </form>
        {/volist}
    </div>





<section id="foot_kong"></section>
<div id="ft_fixed">
    <div class="ft_fixed">
        <li class="hover"><a href="/">约TA</a></li>
        <li><a href="/">旅途</a></li>
        <li><a href="/">发布</a></li>
        <li><a href="/">消息</a></li>
        <li><a href="/">我的</a></li>
    </div>
</div>
</body>

<script type="text/javascript" src="__HOME_CSS__/wapcssjsimg/cssjs/jquery.min.js"></script>

</html>