
{extend name="layout"}

{block name="page_title"}
我的
{/block}
{block name="content"}
<div id="mine">
    <div class="mine-1">
        <a href="{:url('user/MyInfo/index')}">
            <dl>
                <dt>
                    {if condition="$user_base_info.head_img != '' "}
                    <img src="{$user_base_info.head_img}" >
                    {else /}
                    <img src="__HOME_CSS__/wapcssjsimg/images/sctx-1.png" >
                    {/if}
                </dt>
                <dd>
                    <b>
                        {if condition="$user_base_info.nickname != '' "}
                        {$user_base_info.nickname}
                        {else /}
                        昵称
                        {/if}

                        {switch name="user_base_info.sex" }
                            {case value="1"}<img src="__HOME_CSS__/wapcssjsimg/images/sex2.png" >{/case}
                            {case value="2"}<img src="__HOME_CSS__/wapcssjsimg/images/sex1.png" >{/case}
                        {default /}<img src="__HOME_CSS__/wapcssjsimg/images/sex1.png" >
                        {/switch}

                        <img src="__HOME_CSS__/wapcssjsimg/images/v.png" >
                    </b>
                    <p>约游ID：{$user_base_info.sys_id}</p>
                </dd>
            </dl>
        </a>
    </div>
    <div class="mine-2">
        <ul>
            <li><b>{if condition="$user_base_info.video_num == null"}0{else /}$user_base_info.video_num {/if}</b><p>视频</p></li>
            <li><b>{if condition="$user_base_info.img_num == null"}0{else /}$user_base_info.img_num {/if}</b><p>照片</p></li>
            <li><b>{$user_base_info.attention_num}</b><p>关注</p></li>
            <li><b>{$user_base_info.attentioned_num}</b><p>粉丝</p></li>
        </ul>
    </div>
    <div class="mine-xx">
        <ul><li class="xx1"><a href="{:url('user/Wallet/index')}">钱包</a></li></ul>
        <ul>
            <li class="xx2"><a href="">成为伴游</a></li>
            <li class="xx3"><a href="">个人认证</a></li>
            <li class="xx4"><a href="{:url('user/BecomeMember/index')}">升级会员</a></li>
            <li class="xx5"><a href="">会员特权</a></li>
        </ul>
        <ul>
            <li class="xx6"><a href="">消息管理</a></li>
            <li class="xx7"><a href="">联系客服</a></li>
        </ul>
        <ul>
            <li class="xx8"><a href="">黑名单</a></li>
            <li class="xx9"><a href="">帮助</a></li>
            <li class="xx10"><a href="">投诉建议</a></li>
        </ul>
    </div>
    <div class="mine-exit">
        <ul>
            <li><a href="{:url('user/Login/login_out')}">退出登录</a></li>
        </ul>
    </div>

</div>
{/block}

