
{extend name="layout"}

{block name="page_title"}
我的
{/block}
{block name="content"}
<div id="mine">
    <div class="mine-1">
        <a href="{:url('user/MyInfo/index')}">
            <dl>
                <dt>
                    {if condition="$user_base_info.head_img != '' "}
                    <img src="{$user_base_info.head_img}" >
                    {else /}
                    <img src="__HOME_CSS__/wapcssjsimg/images/sctx-1.png" >
                    {/if}
                </dt>
                <dd>
                    <b>
                        {if condition="$user_base_info.nickname != '' "}
                        {$user_base_info.nickname}
                        {else /}
                        昵称
                        {/if}

                        {switch name="user_base_info.sex" }
                            {case value="1"}<img src="__HOME_CSS__/wapcssjsimg/images/sex2.png" >{/case}
                            {case value="2"}<img src="__HOME_CSS__/wapcssjsimg/images/sexw.png" >{/case}
                        {default /}
                        {/switch}
                        {if condition="$user_base_info.icon != null"}
                        <img height="20" width="20" src="{$user_base_info.icon}" >
                        {/if}
                    </b>
                    <p>约游ID：{$user_base_info.sys_id}</p>
                </dd>
            </dl>
        </a>
    </div>
    <div class="mine-2">
        <ul>
            <li><b>{if condition="$user_base_info.video_num == null"}0{else /}{$user_base_info.video_num} {/if}</b><p>视频</p></li>
            <li><b>{if condition="$user_base_info.img_num == null"}0{else /}{$user_base_info.img_num} {/if}</b><p>照片</p></li>
            <li><b>{$user_base_info.attention_num}</b><p>关注</p></li>
            <li><b>{$user_base_info.attentioned_num}</b><p>粉丝</p></li>
        </ul>
    </div>
    <div class="mine-xx">
        <ul><li class="xx1"><a href="{:url('user/Wallet/index')}">钱包</a></li></ul>
        <ul>
            <li class="xx2"><a onclick="return is_jump('Escort');" aaa="{:url('user/BecomeEscort/index')}">成为伴游</a></li>
            <li class="xx3"><a onclick="return is_jump('Authentication');" aaa="{:url('user/Authentication/index')}">个人认证</a></li>
            <li class="xx4"><a onclick="up_member()" aaa="{:url('user/BecomeMember/member_list')}">升级会员</a></li>
            <li class="xx5"><a href="">会员特权</a></li>
        </ul>
        <ul>
            <li class="xx6"><a href="{:url('user/News/index')}{$all_news_num.url_sql|isset ? $all_news_num.url_sql : ''}">消息管理（{$all_news_num.all_num|isset ? $all_news_num.all_num : 0}）</a></li>
            <li class="xx7"><a href="">联系客服</a></li>
        </ul>
        <ul>
            <li class="xx8"><a href="">黑名单</a></li>
            <li class="xx9"><a href="">帮助</a></li>
            <li class="xx10"><a href="">投诉建议</a></li>
        </ul>
    </div>
    <div class="mine-exit">
        <ul>
            <li><a href="{:url('user/Login/login_out')}">退出登录</a></li>
        </ul>
    </div>

</div>
{/block}

{block name="page_js"}
<script>
    function is_jump(control_name){
        var url;
        var next_url;
        if(control_name === 'Authentication'){
            url = 'http://'+window.location.host+'/User/Authentication/index';
            next_url = 'http://'+window.location.host+'/User/my_info/index';
        }else if(control_name === 'Escort'){
            url = 'http://'+window.location.host+'/User/become_escort/index';
            next_url = 'http://'+window.location.host+'/User/Authentication/index';
        }

        $.ajax({
        url:url,
        dataType:'JSON',
        type:'POST',
        success:function(data){
            if(data.code===103){
                layer.confirm('<p style="color: #0b0b0b">'+data.msg+'</p>',{title:'提示消息'},function(){
                if(control_name === 'Escort'){
                    is_jump('Authentication');
                    return false;
                }
                    window.location.href = next_url;
            })
            }else if(data.code === 102){
                //会员升级提示
                layer.confirm('<p style="color: #0b0b0b">'+data.msg+'</p>',{title:'提示消息'},function(){
                    window.location.href =  'http://'+window.location.host+'/User/become_member/member_list';;
                })
            }else{
                if(control_name === 'Escort'){
                    window.location.href = 'http://'+window.location.host+'/user/become_escort/index.html';
                }else{
                    window.location.href =  'http://'+window.location.host+'/User/Authentication/index';
                }

            }
        }
     });
    }

    //升级会员
    function up_member(){
        $.ajax({
            url:'http://'+window.location.host+'/user/become_member/member_list',
            dataType:'JSON',
            type:'POST',
            success:function(data){
                if(data.code === 103){
                    layer.confirm(
                        '<p style="color: #0b0b0b">'+data.msg+'</p>',{title:'提示消息'},function(){
                            window.location.href =  'http://'+window.location.host+'/User/my_info/index';;
                        }
                    );
                }else{
                    window.location.href =  'http://'+window.location.host+'/user/become_member/member_list';
                }
            }
        })
    }
</script>
{/block}


